/*NISA RAHMAWATI*/
@font-face{
	src:"../fonts/lato/Lato-Regular.ttf";
	font-family:'Lato';
}
@font-face{
	src:"../fonts/lato/OpenSans-Regular.ttf";
	font-family:'Open Sans';
}
@font-face{
	src:"../fonts/lato/YanoneKaffeesatz-Regular.otf";
	font-family:'Open Sans';
}