/*****************************************
NISA RAHMAWATI : reset.css
******************************************/
* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {    margin: 0;    padding: 0;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {     display:block;}
table {    border-collapse: separate;    border-spacing: 0;}
caption, th, td {    text-align: left;    font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {    content: "";}
blockquote, q {    quotes: "" "";}
sup{    vertical-align: super;    font-size:smaller;}
code{    font-family: 'Courier New', Courier, monospace;    font-size:12px;    color:#272727;}
::selection {  background: #333;  color: #fff;  }
::-moz-selection {  background: #333;  color: #fff;  }
a img{	border: none;}
a img, img {
vertical-align: middle;
}

ol, ul { padding: 10px 0 20px;  margin: 0 0 0 35px;  text-align: left;  }
ol li { list-style-type: decimal;  padding:0 0 5px;  }
ul li { list-style-type: square;  padding: 0 0 5px;  }
ul ul, ol ol { padding: 0; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
.post-body h1 { line-height: 48px; font-size: 42px; margin: 10px 0; }
.post-body h2 { font-size: 36px; line-height: 44px; margin: 10px 0; }
.post-body h3 { font-size: 32px; line-height: 40px; margin: 10px 0; }
.post-body h4 { font-size: 28px; line-height: 36px; margin: 10px 0;  }
.post-body h5 { font-size: 24px; line-height: 30px; margin: 10px 0;  }
.post-body h6 { font-size: 18px; line-height: 24px; margin: 10px 0;  }


/*****************************************
Global Links CSS
******************************************/
a{ color: #666; outline:none; text-decoration: none; }
a:hover { color: #000; text-decoration:none; }

body {
background: #f8f8f8;
color: #333;
font: 15px/24px 'Open Sans', Helvetica,Arial,sans-serif;
-webkit-backface-visibility: hidden;
background-image: url('https://cdn.rawgit.com/paypay21/blog/master/image/bg.jpg') !important;
  background-color: #ddd;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#loading{
	background-color:rgba(255, 255, 255, 0.9);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000000;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 20px;
	width: 100px;
	margin-top: -10px;
	margin-left: -50px;

}
.object{
	width: 20px;
	height: 20px;
	background-color: #fff;
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	margin-right: 20px;
	margin-bottom: 20px;
	position: absolute;	
}


#object_one{
	-webkit-animation: object 2s linear infinite;
	 animation: object 2s linear infinite;
	 }
#object_two{ 
	-webkit-animation: object 2s linear infinite -.4s;
	animation: object 2s linear infinite -.4s;
	 }
#object_three{ 
	-webkit-animation: object 2s linear infinite -.8s; 
	animation: object 2s linear infinite -.8s; 
	}
#object_four{ 
	-webkit-animation: object 2s linear infinite -1.2s;
	animation: object 2s linear infinite -1.2s; 
	} 
#object_five{ 
	-webkit-animation: object 2s linear infinite -1.6s; 
	animation: object 2s linear infinite -1.6s; 
	}
	
	
@-webkit-keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }		
	
}		
@keyframes object{
  0% { left: 100px; top:0}
  80% { left: 0; top:0;}
  85% { left: 0; top: -20px; width: 20px; height: 20px;}
  90% { width: 40px; height: 15px; }
  95% { left: 100px; top: -20px; width: 20px; height: 20px;}
  100% { left: 100px; top:0; }
}	
.Attribution{
	display:none;
}
.clr { clear:both; float:none; }

.clearfix:after {
clear: both;
}
.clearfix:before, .clearfix:after {
display: table;
content: "";
}

body#layout .header-wrapper:before {
  content: "This is a property of www.themexpose.com";
  font-size: 16px;
  color: #3E1AE4;
}
/*****************************************
Wrappers
******************************************/
.ct-wrapper {    
padding:0px 20px;    
position:relative;    
max-width:1170px;    
margin: 0 auto;  }

.footer-credits .ct-wrapper {
  padding: 10px 20px 0px;}

.outer-wrapper {     
position: relative; 
}

.header-wrapper {

text-align: center;
  
}

#logo {
padding: 15px 0;

}

#header-bottom {


padding: 20px 0;
min-height: 65px;
}


.main-wrapper {
float: left;
width: 67.7%;
margin: 0 auto;
}

#content {   position: relative;  width: 100%;  float: left;  }

.sidebar-wrapper {
float: left;
width: 32.3%;
font-size: 13px;
line-height: 20px;
margin: 0;
position: relative;
padding: 50px 0 0 30px;
}
@media(max-width:768px){
	.sidebar-wrapper{
		width:100% !important;
	}
}


/**** Layout Styling CSS *****/
body#layout .header-wrapper { margin-top: 40px; }
body#layout #header, body#layout .header-right { width: 50%; }
body#layout .outer-wrapper, body#layout .sidebar-wrapper, body#layout .ct-wrapper { margin: 0; padding: 0; }
body#layout .footer {
width: 33%;
}
body#layout #header-bottom {
display: none;
}
 

/*****************************************
Header CSS
******************************************/
#header{ width: auto; }
#header-inner{ margin: 0 auto 5px; padding: 0; }

div#header-inner img {
  padding: 20px 0 5px;
}

#header h1 {
font-size: 70px;
text-transform: capitalize;
line-height: 50px;
text-shadow: -2px 0px 0px rgba(0,0,0,.1);
font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-weight: 400;
padding: 60px 0 50px;
}

#header h1 a, #header h1 a:hover {  color: #fff;  }

#header p.description{  color: #333;  font-size: 12px;  font-style: italic;  margin: 0 0 0 35px;  padding: 0;  text-transform:capitalize;  }
#header img{   border:0 none; background:none; width:auto; height:auto; margin:0 auto;  }

/***** Header Right CSS *****/
.header-right { float: right; }
.header-right .widget-content { margin-top: 40px; }


/* navigation menu */

#nav-primary {
position: absolute;
left: 30px;
top: -6px;
}
#nav-primary ul {
list-style: none outside none;
margin: 0;
padding: 0;
}

#nav-primary>ul>li {
float: left;
position: relative;
z-index: 40;
margin:0;
padding: 0 0 10px;
list-style: none;
}
#nav-primary>ul>li>a {
color: #666;
font-size: 15px;
font-weight: 600;
padding: 8px 14px;
border: 2px solid #666;
border-radius: 99px;
-moz-border-radius: 99px;
-webkit-border-radius: 99px;
}
#nav-primary ul li a {
display: block;
position: relative;
outline: none;
line-height: 100%;
height: 100%;
text-decoration: none;
}
#nav-primary ul ul {
background: #333538;
margin: 0 0 0 50px;
padding: 5px 20px;
position: absolute;
top: -9999em;
width: 240px;
z-index: 99999;
border-radius: 20px;
-moz-border-radius: 20px;
-webkit-border-radius: 20px;
}
#nav-primary ul li i {
margin: 0 6px 0 0;
}
#nav-primary ul ul:before {
border-bottom: 10px solid #333538;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
content: "";
display: block;
height: 0;
left: 36px;
position: absolute;
top: -7px;
width: 0;
z-index: 999;
}
#nav-primary ul li:hover ul {
left: -50px;
top: 45px;
z-index: 99;
}
#nav-primary ul ul li {
background: none;
float: none;
width: 100%;
margin: 0;
padding: 0;
border: none;
height: auto;
text-align: left;
box-shadow: none;
border: none;
}
#nav-primary ul ul li a {
font-size: 14px;
font-weight: 400;
color: #fff;
padding: 12px 0;
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


/* social icons */

#social-icons {
position: absolute;
right: 30px;
top: -6px;
list-style: none;
margin: 0;
padding: 0;
}
#social-icons li {
list-style:none;
float: left;
margin: 0 0 0 5px;
padding:0;
}
#social-icons li a {
display: table;
border: 2px solid #666;
color: #666;
font-size: 18px;
padding: 8px;
border-radius: 99px;
-moz-border-radius: 99px;
-webkit-border-radius: 99px;
}
#social-icons li a i {
display: table;
height: 15px;
text-align: center;
width: 17px;
line-height: 100%;
}
#nav-primary>ul>li:hover>a,#social-icons li a:hover {
color: #dd5136;
border-color: #dd5136;
}

/* admin image */

img.avatar {
top: 0px;
left: 50%;
margin-left: -47px;
position: absolute;
text-align: center;
z-index: 9;
box-shadow: 0px 0px 0px 6px #EAEBED;
border-radius: 99%;
-moz-border-radius: 99%;
-webkit-border-radius: 99%;
}



/*****************************************
Blog Post CSS
******************************************/

/* index css */

.blog-posts {
margin: 0 auto;
width: 100%;
position: relative;
overflow: hidden;
}
.blog-posts .animated {
display: block;
width: 50%;
position: relative;
padding-top: 40px;
margin-bottom:40px;
}
.blog-posts .animated:nth-child(odd) {
float: left;
clear: left;
padding-right: 20px;
}
.blog-posts .animated:nth-child(even) {
float: right;
clear: right;
padding-left: 20px;
}

.hfeed .animated:nth-child(1),.hfeed .animated:nth-child(2) {
padding-top:100px;
}

.hfeed .animated:nth-child(2) {
margin-top:100px;
}


.animated:nth-child(odd) .post-body:before, .animated:nth-child(odd) .post-body:after {
  border-top: 8px dashed transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 13px;
  content: '';
  right: 7px;
  border-left: 8px solid #FFFFFF;
}


.blog-posts .animated:nth-child(5) {
 	width: 50%;
  	padding-right: 0px;
	margin-left: 25%;
}


.animated:nth-child(5) .post-body:before, .animated:nth-child(5) .post-body:after {
  position: absolute;
  content: '';
  top: -8px;
  border-bottom: 8px solid #FCFCFC;
  left: 50%;
  margin-left: -8px;
  border-right: 8px dashed transparent;
  border-left: 8px solid transparent;
  border-top: 0;
  right: 50%;
}

.animated:nth-child(5) .hentry:before {
  right: -26px;
  position: absolute;
  top: 15px;
  width: 6px;
  height: 6px;
  border: 3px solid #f8f8f8;
  border-radius: 50%;
  background: #e5e5e5;
  content: '';
  left: 50%;
  margin-left: -6px;
  top: -44px;
}



.animated:nth-child(even) .post-body:before, .animated:nth-child(even) .post-body:after {
  border-top: 8px dashed transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 13px;
  content: '';
  left: 7px;
  border-right: 8px solid #FFFFFF;
}


.Blog {
position: relative;
padding: 0 0 50px;
}
.Blog:before {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px; 
  height: 100%;
  background: #e5e5e5;
  content: '';
}

.hentry .entry-content,.ft-ctbox .hentry{
	padding: 30px 30px 0;
  	margin: 0 15px 30px;
  	background: #fff;
}

.hentry .entry-wrap {
padding: 20px 0px;
}
h2.entry-header,h2.entry-header a {
  outline: none;
  text-decoration: none;
  margin: 0 0 10px;

  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  font-size: 30px;
}
p.entry-summary {
font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #737373;
  padding-bottom: 10px;
}

.no-img h2 a {
color:#333;
}

.hentry:before {
right: -26px;
 
  position: absolute;
  top: 15px;
  width: 6px;
  height: 6px;
  border: 3px solid #f8f8f8;
  border-radius: 50%;
  background: #e5e5e5;
  content: '';
}
.animated:nth-child(even) .hentry:before{
left: -26px;
right: auto;
}
span.entry-date {
position: absolute;
top: -40px;
right: -2px;
font-size: 11px;
padding: 8px 12px 9px;
color: #fff;
border: 2px solid #eaebed;
line-height: 100%;
border-radius: 99px;
-moz-border-radius: 99px;
-webkit-border-radius: 99px;
background: #dd5136;
}
.animated:nth-child(even) .hentry .entry-date {
right: auto;
left: -2px;
}

div#footer a {
  color: #fff;
} 

div.entry-footer li a {
color: rgba(0,0,0,0.5);
}
div.entry-footer li i {
margin: 0 5px 0 0;
}
div.entry-footer li {
display: inline;
margin: 0 0 0 10px;
}
div.entry-footer ul {
text-align: right;
margin: 0;
padding: 0;
list-style: none;
}
div.entry-footer {
margin: 5px 0 0;
padding: 0 5px;
font-size: 12px;
color: rgba(0,0,0,0.5);
}

.ft-ctbox {
margin-top: 50px;
margin-bottom: 40px;
max-width: 792px;
}



.post {
padding: 0;
margin: 0 auto 0px;
position: relative;
}

.post-title {
font-size: 40px;
line-height: 50px;
text-decoration: none;
margin: 0 0 10px;
padding: 10px 20px;
font-family: open sans,sans-serif;
}

.post-title a{  color:#666;  }
.post-title a:hover{ color: #4690B3; }

.entry-content img {
	max-width: 100%;
  	height: auto;
  	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	cursor:pointer;
}
.entry-content img:hover {
	opacity:0.7;
}
.separator a {
	display: inline-block;
}
.post-body { font-weight: normal;  padding: 0;    margin:0;    text-transform:auto;    word-wrap:break-word; font-family: 'Yanone Kaffeesatz', sans-serif;font-size: 16px; }
.post-header {  color: #999999;  font-family: Verdana,Arial,Tahoma,sans-serif;  font-size: 12px;  }
.post-header a {  font-style: italic;  }
.rmlink {  float: right;  line-height: normal;  }
.home-link { display:none;}

#blog-pager {
padding: 0;
margin: 0px auto 0;
font-size: 16px;
line-height: normal;
position: relative;
top:0px;
}

#blog-pager a:hover {
background: rgba(0,0,0,0.5);
transition: .2s ease-in-out;
-webkit-transition: .2s ease-in-out;
-moz-transition: .2s ease-in-out;
-o-transition: .2s ease-in-out;
border-color:rgba(0,0,0,0.5);
}

#blog-pager span {
float: right;
position: relative;
width: 50%;
text-align: left;
}
#blog-pager a {
  float: right;
  color: #FFF !important;
  font-size: 14px;
  text-align: center;
  padding: 10px 30px;
  border: 3px solid #fff;
  border-radius: 50px;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.4;
}
a.home-link {
display: none!important;
}
#blog-pager-newer-link a {
float: left;
}
#blog-pager-newer-link {
float: left!important;
padding-right: 20px;
}

/*****************************************
Post Highlighter CSS
******************************************/
blockquote {   background: url("https://cdn.rawgit.com/paypay21/blog/master/image/quote.png") no-repeat 5.4% center;  border-color: #CCCCCC;  border-style: dashed;  border-width: 2px 0;  color: #888;  font-style: italic;  margin: 10px 0 20px -3%;  padding: 1.5em 38px 10px 114px;  }

/***** Popular Post *****/
.popular-posts ul {  padding-left: 0;  }

.popular-posts ul li {
list-style: none outside none !important;
margin-left: 0 !important;
overflow: hidden;
padding: 5px 0 0px!important;
transition: all 0.25s linear 0s;
border-bottom: 1px dotted #E2E2E2;
padding-bottom: 5px !important;
margin-bottom: 5px;
}
.popular-posts ul li:last-child{
	border-bottom:0;
}

.item-snippet {
display: none;
}

.PopularPosts .item-thumbnail img {
display: block;
float: left;
height: 60px;
margin-right: 0;
width: 65px;
}
.blog-posts > .ft-ctbox > .post{
	position:initial !important;
	margin-bottom:40px;
}
#footer .PopularPosts .item-thumbnail img {
  display: block;
  float: left;
  height: 75px;
  margin-right: 10px;
  padding: 0px;
  width: 75px;
}
.post_meta {
  font-size: 12px;
  color: #bbb;
  margin: 0 0 15px;
  font-family: sans-serif;
  font-weight: 200;
 
}
span.sep {
  padding: 0 5px;
}

a.button.normal {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #737373;
  /* padding: 11px 0; */
}

/***** Form CSS *****/
input {  color: #333;  font-family: 'Lora', Georgia, "Times New Roman", Times;  margin-top: 10px;  }
input[type=text], select, textarea {  -moz-box-shadow: inset 0 1px 2px 1px #eee;  -webkit-box-shadow: inset 0 1px 2px 1px #eee;  background: #fff;  border: 1px solid #bbb;  box-shadow: inset 0 1px 1px 1px #eee;  color: #bbb;  font-family: Verdana, Arial, Tahoma, sans-serif;  font-size: 9px;  margin: 0 2px 0 0;  padding: 12px 15px;  text-transform: uppercase;  vertical-align: middle;  }
textarea {  color: #333;  font-family: 'Lora', Georgia, "Times New Roman", Times;  font-size: 12px;  text-transform: none;  }
#subbox {
background: url("https://cdn.rawgit.com/paypay21/blog/master/image/email-icon.png") no-repeat scroll 16px 15px #FFFFFF;
border: none;
box-shadow: 0 1px 1px 1px #EEEEEE inset;
color: #BBBBBB;
font-family: Verdana,Arial,Tahoma,sans-serif;
font-size: 9px;
padding: 14px 15px 14px 45px;
text-transform: uppercase;
width: 160px;
}

/***** Button CSS *****/
input[type="button"],
input[type="submit"], .rmlink a, .showpageNum a, .showpage a, .showpagePoint {
background: #4690b3;
background: -moz-linear-gradient(top, #4690b3 0%, #3f7ca0 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4690b3), color-stop(100%,#3f7ca0));
background: -webkit-linear-gradient(top, #4690b3 0%,#3f7ca0 100%);
background: -o-linear-gradient(top, #4690b3 0%,#3f7ca0 100%);
background: -ms-linear-gradient(top, #4690b3 0%,#3f7ca0 100%);
background: linear-gradient(top, #4690b3 0%,#3f7ca0 100%);
border-width: 1px 0;  border-color: #3e89ad #357ea0 #2c7191;  border-style: solid; text-shadow: 0 1px 0 #1d4a5f;  -webkit-box-shadow: inset 0 1px 0 #78afce;  -moz-box-shadow: inset 0 1px 0 #78afce;  box-shadow: inset 0 1px 0 #78afce;
-moz-border-radius: 3px;  -webkit-border-radius: 3px;  border-radius: 3px;  color: #fff;  cursor: pointer;  font-family: Verdana, Arial, Tahoma, sans-serif;  font-size: 11px;  font-weight: bold;  padding: 12px 15px;  text-decoration: none;  text-transform: uppercase;  display: inline-block;  }
input:hover[type="button"],
input:hover[type="submit"], .rmlink a:hover, .showpageNum a:hover, .showpage a:hover, .showpagePoint {
background: #3f7ca0;
background: -moz-linear-gradient(top, #3f7ca0 0%, #4690b3 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f7ca0), color-stop(100%,#4690b3));
background: -webkit-linear-gradient(top, #3f7ca0 0%,#4690b3 100%);
background: -o-linear-gradient(top, #3f7ca0 0%,#4690b3 100%);
background: -ms-linear-gradient(top, #3f7ca0 0%,#4690b3 100%);
background: linear-gradient(top, #3f7ca0 0%,#4690b3 100%);
border-color: #3e89ad #357ea0 #2c7191;
color: #fff;    text-decoration: none;  }

/* labels */

.sidebar .Label li:before {
font-family: FontAwesome;
content: "\f105";
color: #1a1a1a;
position: absolute;
top: 0;
left: 5px;
font-size: 13px;
}

.sidebar .Label li{
text-transform: capitalize;
list-style-type: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
margin: 0 0 7px;
padding: 0 0 5px;
padding-left: 20px !important;
position: relative;
}

div#capo {
  width: 220px;
  border-top: 2px solid #e5e5e5;
  margin: 0 auto;
}


/*****************************************
Sidebar CSS
******************************************/
.sidebar{  margin: 0;  padding: 0;  display: block;  }
.sidebar h2 {
margin-bottom: 12px;
text-transform: none;
margin: 0 0 18px;
font-size: 14px;
font-weight: normal;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
.sidebar-wrapper a {
  font-size: 15px;
  line-height: 1.7;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}


.sidebar .widget {
	background: #fff;
 	margin: 0 0 20px;
 	padding: 20px;
  	font-size: 16px;
  	line-height: 1.6em;
  	border-top: 8px solid #000000;
	position:relative;
}
.sidebar .widget:after {
	content: "";
    position: absolute;
    top: -8px;
    right: 0;
    width: 30%;
    background: #737272;
    z-index: 100;
    height: 8px;
}
.sidebar .widget:before {
	content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 30%;
    background: #525252;
    z-index: 100;
    height: 8px;
}

.sidebar ul{ margin:0; padding:0; list-style:none; }
.sidebar li{  margin: 0 0 0 15px;  padding: 0 0 5px;  text-transform: capitalize;  }

/* flickr gallery */
.flickr_badge_image {
float: left;
margin: 0 10px 10px 0;
}

/* label */
.entry-tag span {
float: left;
margin: 0 10px 0 0;
font-weight:600
}

.entry-tag {
padding: 0 20px 20px;
}
.entry-tag a,.label-size {
line-height: 1.2;
background: #ebebeb;
display: inline-block;
color: #595959;
font-weight: normal;
font-size: 12px;
line-height: 100%;
padding: 6px 12px;
margin: 0 0 10px 5px;
text-decoration: none;
border-radius: 99px;
-moz-border-radius: 99px;
-webkit-border-radius: 99px;
float: left;
}

.label-size:hover{
background: #dbdbdb;
color: #595959;
}

.label a{color:#666}

/*****************************************
Footer CSS
******************************************/
#footer {
padding: 40px 0 0;
  background: #333;
  background: rgba(0,0,0,0.7);
  color: #fff;
  display:none;
}
#footer1 {
margin-left: 0!important;
}
.footer {
float: left;
width: 30.4%;
margin-bottom: 20px;
margin-left: 4.4%;
float: left;
min-height: 1px;
position: relative;
}

.footer h2 {
margin: 0 0 18px;
font-size: 15px;
font-weight: bold;
font-family: 'Open Sans',Helvetica Neue,Helvetica,Arial,sans-serif;
}

.footer .widget {
clear: both;
font-size: 14px;
line-height: 1.7em;
margin: 0;
}

.footer ul{ margin:0; padding:0; list-style:none; }
.footer li{  margin: 0 0 0 15px;  padding: 0 0 5px;  text-transform: capitalize;  }

.footer-credits {

padding: 24px 0;
font-size:14px;
background: #222;
  background: rgba(0,0,0,0.61);

  color: #9c9c9c;
}
#copyright {
font-size: 14px;
  color: #ccc;
  font-family: 'Open Sans', Arial, Verdana, sans-serif;
  line-height: 1.7;}

#copyright2{
	font-size: 0px;
}
#copyright2 a{
	font-size: 0px;
}
#copyright a{
color: #fff;
color:white;
}

/*****************************************
Comments CSS
******************************************/
#comments {
 border: 1px solid #DFDFDF;
  margin: 0 auto 30px;
clear: both;
  width: 100%;
  float: left;
  padding: 30px 30px 0;
background: #fff;
 border-top: 10px dotted #FF4F8F;
box-shadow: inset 0 -1px 0 0 #FF99BE, inset 0 1px 0 0 #FF99BE, 0 1px 0 0 #FFD5E4, 0 -1px 0 0 #FFCFE1;
}

.comments h4 {  font-size: 15px;  line-height: 30px;  padding: 0;  text-transform: capitalize;  }
#comments-block .avatar-image-container.avatar-stock img{  border-width:0;  padding:1px;  }
#comments-block .avatar-image-container{    height:37px;    left:-45px;    position:absolute;    width:37px;  }
#comments-block.avatar-comment-indent{  margin-left:45px;  position:relative;  }
#comments-block.avatar-comment-indent dd{  margin-left:0;  }
iframe.avatar-hovercard-iframe{  border:0 none;  padding:0;  width:25em;  height:9.4em;  margin:.5em;  }
.comments .comments-content{  margin-bottom:16px;  }
.comments .continue, .comments .comment .comment-actions {  display: block;  text-align: right;  }
.comments .continue a, .comments .comment .comment-actions a{  padding: 0 7px;  font-family: 'Bree Serif', serif; }
.comments .continue a:hover, .comments .comment .comment-actions a:hover{  text-decoration: none;  }
.comments .comments-content .comment-thread ol{  margin:20px 0 0 -10px;  overflow:hidden;}
.comments .comments-content .inline-thread{    padding:0;}
.comments .comments-content .comment-thread:empty{    display:none}
.comments .comments-content .comment-replies{    margin-left:0px;margin-top:0px;}
.comments .comments-content .comment:first-child{padding-top:4px}
.comments .comments-content .comment:last-child {border-bottom: 1px solid #DDDDDD;  padding-bottom:0;  }
.comments .comments-content .comment-body{position:relative}
.comments .comments-content .user a {   font-style: normal;  font-weight: bold;  text-transform: capitalize; }
.comments .comments-content .icon.blog-author {display:inline-block;height:18px;margin:0 0 -4px 6px;width:18px}
.comments .comments-content .datetime {  display: block;  line-height: 21px; margin-left: 0px;  }
.comments .comments-content .datetime a {  color: #333;  font-size: 14px;  }
.comments .comments-content .datetime a:hover {  text-decoration:none; }
.comments .comments-content .comment-header {  margin: 0;  min-height: 40px;  padding: 10px;   position: relative;  }
.comments .comments-content .comment-content{  margin: 0;  padding: 0 10px 10px 10px;  position: relative;  }
.comments .comments-content .owner-actions {position:absolute;right:0;top:0}
.comments .comments-replybox { border:none;height:250px;width:100%}
.comments .comment-replybox-single { margin-left:4px;margin-top:5px}
.comments .comment-replybox-thread {  margin: 5px 0 5px 15px;  }
.comments .comments-content .loadmore a { display:block;padding:10px 16px;text-align:center}
.comments .thread-toggle { cursor:pointer;display:none;}
.comments .continue{   float: right;  cursor:pointer;  display:inline-block;  }
.comments .continue a{  display:block;  font-weight: normal;  margin: 0 15px 0 0;  }
.comments .comments-content .loadmore{cursor:pointer;margin-top:3em;max-height:3em}
.comments .comments-content .loadmore.loaded{max-height:0;opacity:0;overflow:hidden}
.comments .thread-chrome.thread-collapsed{display:none}
.comments .thread-toggle .thread-arrow{display:inline-block;height:6px;margin:.3em;overflow:visible;padding-right:4px;width:7px}
.comments .thread-expanded .thread-arrow{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVR42mNgwAfKy8v/48I4FeA0AacVDFQBAP9wJkE/KhUMAAAAAElFTkSuQmCC") no-repeat scroll 0 0 transparent}
.comments .thread-collapsed .thread-arrow{background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAJUlEQVR42mNgAILy8vL/DLgASBKnApgkVgXIkhgKiNKJ005s4gDLbCZBiSxfygAAAABJRU5ErkJggg==") no-repeat scroll 0 0 transparent}
.comments .avatar-image-container {  float: right;  padding: 0;  margin: 0;  max-height:55px;  width:55px;  }
.comments .avatar-image-container img {  display: block;  max-width: 55px;  width: 55px;  border-radius: 27.5px;  -moz-border-radius: 27.5px;  -o-border-radius: 27.5px;  -webkit-border-radius: 27.5px;  }
.comments .comment-block {  margin-left: 0px;  position: relative;  }
.comments .comments-content .comment {  background: #fff;  border: 1px solid #DDDDDD;  list-style: none outside none;  margin: 0 25px 15px 10px;  padding: 10px !important; }
.comments .comments-content .comment:nth-child(even) {  background: #F9F9F9;  }



/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	*zoom: 1;
	
}

.bx-wrapper img {
	max-width: 100%;
	
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
	background: #fff;
	text-align:center;
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translatez(0);
	-moz-transform: translatez(0);
    	-ms-transform: translatez(0);
    	-o-transform: translatez(0);
    	transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
	min-height: 50px;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
	left: 20px;
	background: url(https://cdn.rawgit.com/paypay21/blog/master/image/slider-arrows.png) no-repeat 0 0;
}

.bx-wrapper .bx-next {
	right: 20px;
	background: url(https://cdn.rawgit.com/paypay21/blog/master/image/slider-arrows.png) no-repeat -30px 0;
}

/*.bx-controls-direction a {
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.bx-wrapper:hover .bx-controls-direction a {
    opacity: 1;
}*/

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-prev:hover {
	opacity:.7 !important;
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	outline: 0;
	width: 30px;
	height: 30px;
	text-indent: -9999px;
	z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 6px;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	padding:20px;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	display: block;
	font-size: 16px;
}
ul.bxslider li {
border: none;
}

ul.bxslider {
  margin: 0px;
  padding: 0px;
}


body{
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}

/* Let's get this party started */
body::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
/* Handle */
body::-webkit-scrollbar-thumb {
  background: rgba(77, 77, 77, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}



/*-----------------------------------------------------------------------------------*/
/*   Author
/*-----------------------------------------------------------------------------------*/

.author-post {
    
  border: solid 1px #f1f1f1;
  margin-top: 40px;
  padding: 30px 10px 0;
 background: #fff;
 border-top: 10px dotted #FF4F8F;
box-shadow: inset 0 -1px 0 0 #FF99BE, inset 0 1px 0 0 #FF99BE, 0 1px 0 0 #FFD5E4, 0 -1px 0 0 #FFCFE1;
}

.author-img {
    padding-left: 20px;
}

.author-img img {
    width: 130px;
    height: 130px;
}

.author-position {
    font-size: 12px;
    font-style: italic;
    color: #888;
}

.author-title {
    font-size: 13px;
    line-height: 23px;
}
.title-other{
	text-align:center;
	font-size:15px !important;
}
p.author-desc {
    margin-top: 10px;
}

.author-social-media ul {
    margin-top: 10px;
    margin-left: -20px;
    display: inline-block;
}

.author-social-media ul li {
    float: left;
    margin-left: 20px;
    margin-top: 10px;
  list-style: none;
}

.author-social-media ul li:before {
    display: none;
}

.author-social-media ul li i {
    color: #c0c0c0;
}

.author .fa-search {
    color: #FFF;
}

.author .logo h3 {
    color: #FFF;
}

.tooltip-inner {
    background: #282828;
    border-radius: 5px;
    font-size: 11px;
    padding: 9px 10px;
    min-width: 100px;
}

.tooltip .tooltip-arrow {
    border-top-color: #272627 !important;
}
.col-lg-3 {
  width: 25%;
  float: left;
}

.col-lg-9 {
  width: 75%;
float: left;
}

.img-circle {
  border-radius: 50%;
}


/*-----------------------------------------------------------------------------------*/
/*   Post Tools & Share
/*-----------------------------------------------------------------------------------*/

.post-tools {
    padding: 25px 0;
}

.post-tools .col-lg-6 {
    padding: 0;
    margin: 0;
}

.blog-post-tag {
    color: #d6d6d6;
    font-size: 11px;
    height: auto;
    display: inline-block;
}

.line-tag {
    height: 1px;
    width: 100%;
    background: #e8e8e8;
    margin-bottom: 30px;
}

.tag-title-post {
    font-weight: 700;
    color: #333;
    font-size: 13px;
    padding-left: 5px;
}

.post-tools i {
    font-size: 12px;
    color: #938F8C;
}

.blog-post-tag a {
    font-size: 11px;
    text-transform: uppercase;
    margin: 0 10px;
    color: #888;
}

.share-tools.pull-left ul {
  padding: 0px;
}

.modern .blog-post-tag a{
    background: #f1f1f1;
    font-size: 11px;
    padding: 5px 10px;
    color: #666;
    border-radius: 10px;
    line-height: 35px;
    margin:0 5px;
}

.blog-post-tag a:hover {
    color: #ff0a60;
}

.share-tools ul li {
    float: left;
    color: #d6d6d6;
    font-size: 12px;
  list-style: none;
}

.share-tools i {
    font-size: 13px;
}

.share-tools .fa-facebook {
    color: #3b5998;
}

.share-tools .fa-twitter {
    color: #55acee;
}

.share-tools .fa-instagram {
    color: #3f729b;
}

.share-tools .fa-pinterest {
    color: #cc2127;
}

.share-tools .fa-google-plus {
    color: #cc2127;
}

.share-tools ul li:first-child{
    padding-left: 20px;
}

.share-tools ul li:after {
    content: "|";
    padding-left: 20px;
    padding-right: 20px;
}

.share-tools ul li:last-child:after {
    display: none;
}

.share-tools ul li:before {
    display: none;
}

.social-links ul {
    padding-top: 10px;
}

.social-links ul li {
    float: left;
    width: 25%;
    border-right: solid 1px #e8e8e8;
    text-align: center;
    margin: 10px 0;
    padding-left: 0;
}

.footer-container .widget .social-links ul li {
    float: left;
    width: 25%;
    border-right: solid 1px #333;
    text-align: center;
    margin: 10px 0;
    padding-left: 0;
}

.share-wrapper {
    display: none;
    height: 50px;
    overflow: hidden;
}

.share-wrapper .share-tools ul {
    padding-top: 2px;
}

.sizer-wrapper {
    position: absolute;
    width: 1px;
    background: #eee;
    left: -19px;
    top: 2px;
    z-index: 99;
}

.bigText {
    font-family: "Georgia",Serif;
    border: 1px solid #eee;
    width: 50px;
    height: 50px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    font-size: 30px;
    color: #373737;
    padding-top: 12px;
    padding-left: 15px;
}

.smallText {
    margin-left: 7px;
    font-family: "Georgia",Serif;
    border: 1px solid #eee;
    width: 36px;
    height: 36px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    font-size: 15px;
    color: #939393;
    padding-top: 5px;
    padding-left: 13px;
}

.randomPost {
    margin-left: 10px;
    border: 1px solid #eee;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    font-size: 12px;
    color: #666;
    padding-top: 2px;
    padding-left: 9px;
}

#text-exp{
    position: static;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-left:-25px;
}

.scroll-to-fixed-fixed{
    margin-left:0px !important;
}

.blog-content .scroll-to-fixed-fixed{
    margin-left:0 !important;
}

.fixMargin{
    margin-left: -25px !important;
}



/*-----------------------------------------------------------------------------------*/
/*   Related Post
/*-----------------------------------------------------------------------------------*/

.related-title {
    margin-top: 40px;
    margin-bottom: 40px;
}

.row.related-post-container {
  background: #fff;
  height: 240px;
  border: solid 1px #f1f1f1;
  padding: 10px 10px 0;
  background: #fff;
}

.related-posts {
    width: 100%;
    height: 200px;
   
}

.related-posts .cats {
    font-size: 10px;
}

.background-related {
    height: 200px;
  
}

.background-related img {
   
    width: 100%;

}

.related-posts .cats {
    position: absolute;
    top: 0;
}

.related-posts .cats-line {
    position: absolute;
    top: 30px;
}

.related-posts .cats ul li:before {
    display: none;
}

.related-posts .cats ul {
    margin-left: 20px;
}

.related-posts .cats ul li {
    float: left;
    margin-top: 5px;
}

.related-posts .cats ul li a {
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
}

.related-posts .cats ul li a:hover, .related-posts a:hover {
    color: #ff0a60;
}

.row.related-post-container ul {
  margin: 0px;
}

.related-posts .title {
    padding: 0 25px;
    position: absolute;
    bottom:25px;
}

.related-posts .title a {
    display: inline-block;
}

.related-posts a {
    color: #FFF;
}

.cats-line {
    height: 1px;
    width: 18px;
    background: #FFF;
    margin-left: 25px;
}

.noimage-ralated {
    background: #000;
}

.media-materials, .related-posts {
    overflow: hidden;
    position: relative;
}

.media-materials img{
    width: 100%;
    height: 100%;
}
.top-colors {
padding: 0px 15px;
}
.top-color {
height: 8px;
width: 20%;
float: left;
background: #fe4365;
}
.top-color1 {
background: #BFBDBD;
}
.top-color2 {
background: #737272;
}
.top-color3 {
background: #000;
}
.media-materials img, .related-posts img {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -webkit-transition-delay: 0;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
    -moz-transition-delay: 0;
    -moz-transition-timing-function: ease-out;
    -ms-transition-property: -ms-transform;
    -ms-transition-duration: 1s;
    -ms-transition-delay: 0;
    -ms-transition-timing-function: ease-out;
    -o-transition-property: -o-transform;
    -o-transition-duration: 1s;
    -o-transition-delay: 0;
    -o-transition-timing-function: ease-out;
    transition-property: transform;
    transition-duration: 1s;
    transition-delay: 0;
    transition-timing-function: ease-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility-origin: hidden;
    -ms-backface-visibility-origin: hidden;
    -o-backface-visibility-origin: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 1000;
    -moz-transform-origin: 1000;
    -ms-transform-origin: 1000;
    -o-transform-origin: 1000;
    perspective: 1000;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.media-materials:hover img, .related-posts:hover img {
    -webkit-transform: scale(1.03) rotate(0.1deg);
    -moz-transform: scale(1.03) rotate(0.1deg);
    -o-transform: scale(1.03) rotate(0.1deg);
    -ms-transform: scale(1.03) rotate(0.1deg);
    transform: scale(1.03) rotate(0.1deg);
}

.col-lg-6 {
  width: 50%;
float: left;
}

.col-lg-6,.col-sm-6{
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}





.col-md-6 {
  width: 50%;
}


.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}

.text-center {
  text-align: center;
}


.copy-credits {
  text-align: right;
  margin-top: 60px;
  border-top: solid 1px;
  padding-top: 10px;
}

.valign {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.open-nav .mobile-toggle {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.mobile-toggle {
	cursor: pointer;
	font-size: 20px;
	position: fixed;
	right: 70px;
	top:25px;
	width: 40px;
	z-index: 100000;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.mobile-toggle span {
	width: 40px;
	height: 4px;
	margin-bottom: 6px;
	    background-color: rgba(0, 0, 0, 0.65);
 	 border-radius: 20px;
	display: block;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.open-nav .mobile-toggle span{
	background-color: rgba(247, 132, 9, 0.8);
}
.black-color {
	background: #000 !important;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.white-color {
	background: #ccc !important;
	-webkit-transition: all .8s ease-in-out;
	-moz-transition: all .8s ease-in-out;
	-ms-transition: all .8s ease-in-out;
	-o-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
}
.menu-panel {
	width: 66%;
	position: fixed;
	top: 0;
	right: 3000px;
	z-index: 99999;
	background-position: center center;
	background-repeat: no-repeat;
}
nav.nav-item-wrap ul li {
  list-style-type: none;
}

.menu-block {
	border:solid 3px;
	padding: 20px 10px;
	margin: 12px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.menu-block:hover {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.menu-block a {
	display: block;
	font-size: 18px;
	line-height: 25px;
	font-weight: 200;
	text-transform: uppercase;
	letter-spacing: 8px;
}
/*NAV MENU LIST*/
 .nav-list-holder {
	padding: 80px;
}
.slogan-holder {
	display: none;
}
.main-nav-menu {
	list-style: none;
	padding: 0;
	text-align: right;
	margin-left: auto;
	margin-right: auto;
}
.main-nav-menu li {
	padding: 0;
	margin-bottom: 15px;
}
.main-nav-menu > li > a {
	font-weight: 200;
	font-size: 17px;
	line-height: 21px;
	letter-spacing: 4px;
	text-decoration: none;
	-webkit-transition: all .8s linear;
	-moz-transition: all .8s linear;
	-ms-transition: all .8s linear;
	-o-transition: all .8s linear;
	transition: all .8s linear;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.main-nav-menu > li > a:hover {
	-webkit-transition: all .8s linear;
	-moz-transition: all .8s linear;
	-ms-transition: all .8s linear;
	-o-transition: all .8s linear;
	transition: all .8s linear;
}
.main-nav-menu > li > a:focus {
	font-weight: 600;
	border-bottom: solid 1px #fff;
	-webkit-transition: all .8s linear;
	-moz-transition: all .8s linear;
	-ms-transition: all .8s linear;
	-o-transition: all .8s linear;
	transition: all .8s linear;
}
.main-nav-menu > li > ul {
	display: none;
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 15px;
}
.main-nav-menu > li > ul a {
	color: #777;
	display: block;
	font-weight: 200;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0px;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.main-nav-menu > li > ul a:hover {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.main-nav-menu > li > ul li {
	list-style: none;
	margin-bottom: 0;
}
/*SLOGAN*/
 .slogan-text {
	margin-top: 10px;
	font-size: 24px;
	line-height: 23px;
	font-weight: 600;
	font-family: 'Great Vibes', cursive;
}
.copy-credits {
	text-align: right;
	margin-top: 60px;
	border-top: solid 1px;
	padding-top: 10px;
}
.copy-credits h4 &gt; a {
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.copy-credits h4 &gt; a:hover {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.copy-credits p {
	font-size: 12px;
	line-height: 19px;
}
.nav-social {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	margin: 10px;
	margin-right: 0;
float:right;
}
.nav-social li {
	display: inline-block;
	margin-left: 3px;
}
.nav-social li a {
	width: 26px;
	height: 26px;
	opacity: 1;
	background: #111;
	border-radius: 99px;
	color: #fff;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	display: block;
	text-align: center;
	font-size: 16px;
	line-height: 27px;
}
.nav-social li a:hover {
	background:#333;
}

/* back to top */
.back-top {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 0 auto;
  margin-top: -16px;
  width: 200px;
  letter-spacing:2px;
  font-size: .9em;
  max-width: 200px;
  font-size: 13px;
  color: #9c9c9c;
  font-family: &#39;Open Sans&#39;, Arial, Verdana, sans-serif;
  line-height: 1.7;
}
.back-top a {
display: block;
width: 200px;
height: 80px;
}
.back-top a:before {
font-size: 4em;
content: &quot;\f106&quot;;
}
.back-top .arrow-up {
display: inline-block;
}
.back-top .arrow-up a {
position: absolute;
z-index: 999;
  font-size: 10px;
color: rgba(255, 255, 255, 0.78);
bottom: -10px;
width: 100px;
height: 50px;
background: transparent;
}
.back-top .arrow-up span {
font-weight: 100 ;
color: rgba(255,255,255,0);
}
.back-top:hover .arrow-up a {
bottom: 20px;
}
.back-top:hover .arrow-up span {
cursor: default;
color: #fff;
color: rgba(255,255,255,1);
}

.back-top .arrow-up a,
.back-top .arrow-up span {
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}

.post-materials {
  margin: 10px 0 20px;
}
.post-materials i {
line-height: 20px;
vertical-align: middle;
}
.post-materials span {
padding-right: 15px;
padding-left: 15px;
}
.updated-time {
display: none;
visibility: hidden;
}
span.material-font, span.author-name {
padding: 0 !important;
}
span.material-font, span.author-name {
border: none !important;
}
.post-materials span:first-child {
margin-left: 0 !important;
padding-left: 0 !important;
}
.post-materials ul {
margin: 0 !important;
padding: 0 !important;
}
.post-materials span {
line-height: 15px;
border-right: solid 1px #e8e8e8;
}
.post-materials span a {
  font-size: 14px;
  color: #7C7C7C;
}
.post-materials span:last-child {
border: none;
}
.post-materials i {
color: #cbcbcb;
padding-right: 7px;
}
.material-font {
font-size: 13px;
}
.author-name a {
  color: #7C7C7C;
}
.media-materials {
margin-top: 25px;
}
.sticky-post {
position: absolute;
top: -5px;
right: 29px;
}
.sticky-post i {
color: #ff0a60;
font-size: 16px;
}

/*****************************************
Responsive styles
******************************************/
@media screen and (max-width: 1024px) {
#header, .header-right { float: none; text-align: center; width: 100%; }
.header-right .widget-content { margin: 0; }
}
@media screen and (max-width: 960px) {
.ct-wrapper{    padding:0 15px;  }
.main-wrapper, .opt-in .opt-in-wrap{    margin-right:0;    width:100%;  }
.sidebar-wrapper{  float: left; width: auto;  margin-left: 20px;  }
.nav-menu ul { text-align: center; }
.nav-menu ul li { float: none; }
.opt-in .inner .ct-wrapper {  padding: 0 48px; }
.opt-in .info {  text-align: center;   }
.opt-in .signup-form {  margin-top: 30px;  width: 95%;  float: left;  }
#subbox {  width: 60%;  }
}
@media screen and (max-width: 768px){
#header p.description { margin: 0; } 
.header-right { display: none; }
#comment-editor { margin:10px; }
.footer { width: 95%; }
.blog-posts .animated {width: 100%;}
.blog-posts .animated:nth-child(odd){padding-right:0px;width:100%;margin-left: 0;}
.blog-posts .animated:nth-child(even){padding-left:0px}
.hfeed .animated:nth-child(2) {margin-top: 0px;}
.animated:nth-child(even) .post-body:before, .animated:nth-child(even) .post-body:after,.animated:nth-child(odd) .post-body:before, .animated:nth-child(odd) .post-body:after {
  position: absolute;
  content: '';
  top: -8px;
  border-bottom: 8px solid #FCFCFC;
  left: 50%;
  margin-left: -8px;
  border-right: 8px dashed transparent;
  border-left: 8px solid transparent;
  border-top: 0;
  right: 50%;
}

.nav-list-holder {
  padding: 10px;
}
.Attribution{
	display:none;
}
.post-tools .col-lg-6 {
  width: 100%;
  float: left;
}
.post-tools .col-lg-3 {
  width: 100%;
  float: left;
}

.col-lg-3 {
  width: 100%;
  float: left;
}
.col-lg-9 {
  width: 100%;
  float: left;
}

.background-related img {
  width: 100%;
  height: 100%;
}

}

@media screen and (max-width: 960px) {
  .sidebar-wrapper {
    float: left;
    width: 100%;
    margin-left: 0px;
  padding-left:0px;
  }
}
@media screen and (max-width: 500px){

.opt-in .inner .ct-wrapper {  padding: 0 10px; }
.nav-logo-wrap img {
  max-width: 125px;
}
.menu-panel {
    width: 100%;
}
}
@media screen and (max-width: 420px){
.comments .comments-content .datetime{    display:block;    float:none;    }
.comments .comments-content .comment-header {    height:70px;    }
.nav-logo-wrap img {
  max-width: 90px;
}

.background-related img {
  width: 100%;
  height: 100%;
}
}
@media screen and (max-width: 320px){
.footer { width: 100%;margin-left:0px !important; }
.ct-wrapper{ padding:0; }
.post-body img{  max-width: 100%; }
.comments .comments-content .comment-replies {    margin-left: 0;    }
.ym{ text-align:left !important;}
#twitter-widget-0{width:100% !important;}
.instagram{width:100% !important;}
}
/*****************************************
Hiding Header Date and Feed Links
******************************************/
h2.date-header,span.blog-admin{display:none!important;}
.search-stay input{
    width: 80%;
}
.search-stay button{
	padding: 10px 15px;
	background: #525252;
	border: 1px solid #525252;
	color: #fff;
}
#loading-center-absolute{
	margin-left: -5px;
}
.search-stay input{
	width: 80%;
}
.search-stay button{
	padding: 10px 15px;
	background: #525252;
	border: 1px solid #525252;
	color: #fff;
} 
#loading{
	background:#fff;
}